/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  background: #000;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  font-size: .875rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 300;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
}
